.about-wialon_picture{
    position: relative;
    margin-top: 64px;
}



.about-wialon_image{
    height: 535px;;
    background-image: url(../../img/image1.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;

}
.about-wialon_title{
    position: absolute;
    bottom: 0;
    min-width: 20px;
    max-width: 835px;
    font-size: 54px;
    line-height: 60px;
    font-style: normal;
    font-weight: 700;
    -webkit-text-stroke:0.2px #FFF;
}

.about-wialon_description{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    color: #242424;
    max-width: 885px;
    margin-top: 40px;
}
.about-wialon_button{
    height: 52px;
    width: 183px;
    color:#FFF;
    border-radius: 8px;
    background:  #0071E3;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin-top: 36px;
}