
#menu{font-family: Graphik;
    font-weight: 700;
    font-style: normal;
    position: relative;
}
nav{
    position: fixed;
    z-index: 3;
    top: 0px;
    width: 100%;



}
.menu{
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: #FFFFFF;
    
   /* border: 1px solid red;*/
    ul{
        list-style-type:none;
    }
    

    &__links{
        /*border: 1px solid red;*/
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }
        &__link{
            font-size: 16px;
            padding-left: 40px;
            &:first-child{
                padding-left: 20px;
            }
            cursor: pointer;
            &>a{
                color: rgba(0, 0, 0, 0.64);  

            }
        } 
    &__button{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 20px 0px 20px;
        /*border: 1px solid red;*/
        &>button{
            height: 40px;
            border-radius: 8px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /**изменил размер кнопки*/
            
            /*border: 1px solid #0071E3;*/

        }
        &_demo{
            width:155px;
            color: #0071E3;;
            background-color: white;
            border: 1px solid #0071E3;

          

        }
        &_order{
            width:106px ;
            margin-left: 8px;
            background-color: #0071E3;
            color: white;
            

        }



    }
}