
.wialon-demo{
    position: fixed;
    height: 500px;
    width: 360px;
    background-color: #FFFFFF;
    border: 1px solid black ;
    top: 30%;
    left: 50%;
    transform:translateX(-50%);
    padding: 30px 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(151, 146, 146);
    z-index: 20;
    display: none;
    &.size{
        height: 250px;
        transition: all 0.3s;

    }
   
    &_wraper{
        display: block;
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background: url(https://i.gifer.com/ZZ5H.gif) center/50px no-repeat;
            background-color: rgba(1, 19, 174, 0.253);
            visibility: hidden;
        }
        
        &._sending:after{
            visibility: visible;

         }
        &._hidden{
            display: none;
        }
    }

    &_title{
        margin-bottom: 50px;
        font-family: Graphik;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 150% */
    }
    &_name{
        width: 260px;
        position: relative;
        margin: 0 auto;
        

    }
    &_email{
        width: 260px;
        position: relative;
        margin: 0 auto;
    }
    &_phone{
        width: 260px;
        position: relative;
        margin: 0 auto;
    }
    &_btn{
        width: 260px;
        height: 40px;
        margin-top: 25px;
        border-radius: 5px;
        font-size: 14px;
        background-color: #0A84FF;
        color: #FFFFFF;

    }
   
    &_label{
        position: absolute;
        top: -20px;
        left: 0px;
        font-family: Graphik;
        font-size: 14px;
        font-style: normal;


    }
    &_input{
        width: 260px;
        height: 30px;
        margin-bottom: 40px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0px 10px;
       
    }
    &_input._error {
        box-shadow:7px 5px 5px rgba(231, 8, 97, 0.253);
    }

    &_cross{
        position: absolute;
        cursor: pointer;
        height: 30px;
        width:30px ;
        top: 15px;
        right: 20px;
        z-index: 21;
        &:before{
            content: "";
            position: absolute;
            top: 5px;
            right: -2px;
            width: 24px;
            height: 4px;
            background: red;
            transform: rotate(45deg)
        }
        &:after{
            content: "";
            position: absolute;
            width: 24px;
            height: 4px;
            top: 5px;
            right: -2px;
            background: red;
            transform: rotate(-45deg)
        }
    }
    &_response{
        position: absolute;
        top: 50%;
        left:50%;
        width: 290px;
        transform: translate(-50%,-50%);;
        font-family: Graphik;
        font-size: 19px;
        line-height: 32px;
        font-style: normal;
        visibility: hidden;
        &-btn{
            margin-top: 20px;
            height: 30px;
            width: 100px;
            border-radius: 5px;
            background-color: #0A84FF;
            font-size: 17px;
            line-height: 32px;
            font-style: normal;
            color: #FFFFFF;

        }
        &.message{
            visibility: visible;
        }

    }
 
    

}
