.wialon-raiting{
    margin-top: 100px;
&_wrapper{
    display: flex;
    justify-content: space-between;

    
}
&_object{
    max-width: 200px;
    color:rgba(0, 0, 0, 0.64);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-right: 12px;
    &:last-child{
        margin-right: 0px;
    }
        span{
        color:#242424;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 56px; /* 107.692% */
    }

}
}