.wialon-work{
    background-color: #F7F7F5;
    width: auto;
    .container{
        padding: 0px 0px 0px 15px;
    }


    margin-top: 120px;
    &_wrapper{
        display: flex;
        justify-content: space-between;
        overflow: hidden;

    }

    &_text{
        width: 576px;
        color: rgba(0, 0, 0, 0.64);     
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 150% */
        padding: 120px 0px;
        
    }
    &_title{
        color: #242424;
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px;
    }
    &_description{
        margin-top: 24px;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px; /* 150% */
    }
    &_images{
        display: grid;
        grid-template-columns: 120px 200px 230px;
        grid-template-rows: 100px 250px 140px 140px;
        row-gap: 5px;
    }
    &_image{
        overflow: hidden;
        &:first-child{
            grid-column:1/3 ;

        }
        &:nth-child(4){
            /*justify-self: flex-end;*/
            padding-left: 40px;
        }
        &:nth-child(5){
            justify-self: flex-end;
        }
        &:nth-child(8){
            justify-self: flex-end;
        }
        &:nth-child(11){
            justify-self: flex-end;
            align-self:flex-end;
        }

    }
}