@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Graphik;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

#menu {
  font-family: Graphik;
  font-weight: 700;
  font-style: normal;
  position: relative;
}

nav {
  position: fixed;
  z-index: 3;
  top: 0px;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: #FFFFFF;
  /* border: 1px solid red;*/
}
.menu ul {
  list-style-type: none;
}
.menu__links {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.menu__link {
  font-size: 16px;
  padding-left: 40px;
  cursor: pointer;
}
.menu__link:first-child {
  padding-left: 20px;
}
.menu__link > a {
  color: rgba(0, 0, 0, 0.64);
}
.menu__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 20px 0px 20px;
  /*border: 1px solid red;*/
}
.menu__button > button {
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /**изменил размер кнопки*/
  /*border: 1px solid #0071E3;*/
}
.menu__button_demo {
  width: 155px;
  color: #0071E3;
  background-color: white;
  border: 1px solid #0071E3;
}
.menu__button_order {
  width: 106px;
  margin-left: 8px;
  background-color: #0071E3;
  color: white;
}

.about-wialon_picture {
  position: relative;
  margin-top: 64px;
}

.about-wialon_image {
  height: 535px;
  background-image: url(/img/image1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-wialon_title {
  position: absolute;
  bottom: 0;
  min-width: 20px;
  max-width: 835px;
  font-size: 54px;
  line-height: 60px;
  font-style: normal;
  font-weight: 700;
}

.about-wialon_description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #242424;
  max-width: 885px;
  margin-top: 40px;
}

.about-wialon_button {
  height: 52px;
  width: 183px;
  color: #FFF;
  border-radius: 8px;
  background: #0071E3;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 36px;
}

.task-wialon {
  margin-top: 120px;
  overflow: hidden;
}
.task-wialon_title {
  color: #242424;
  /* desktop/font-h2 */
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  max-width: 882px;
}
.task-wialon_buttons {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.task-wialon_buttons .task-wialon_button {
  min-width: 228px;
  max-width: 228px;
  height: 56px;
  padding: 12px 16px;
  text-align: start;
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  margin-right: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
.task-wialon_buttons .task-wialon_button.active {
  background-color: #0071E3;
  color: antiquewhite;
}
.task-wialon_buttons .task-wialon_button:last-child {
  margin-right: 0px;
}
.task-wialon_images {
  position: relative;
  margin-top: 40px;
  max-width: 1520px;
  height: 913px;
}
.task-wialon_images .task-wialon_image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0px;
  left: 10000px;
  margin: 0 auto;
  width: 100%;
  transition: all 1.1s;
}
.task-wialon_images .task-wialon_image.active {
  transition: all 1.1s;
  top: 0px;
  left: 0px;
}
.task-wialon_images .task-wialon_image.timeLeft {
  transition: all 1.1s;
  left: -10000px;
}

.wialon-raiting {
  margin-top: 120px;
}
.wialon-raiting_wrapper {
  display: flex;
  justify-content: space-between;
}
.wialon-raiting_object {
  max-width: 200px;
  color: rgba(0, 0, 0, 0.64);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-right: 12px;
}
.wialon-raiting_object:last-child {
  margin-right: 0px;
}
.wialon-raiting_object span {
  color: #242424;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 107.692% */
}

.wialon-work {
  background-color: #F7F7F5;
  width: auto;
  margin-top: 120px;
}
.wialon-work_wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.wialon-work_text {
  width: 576px;
  color: rgba(0, 0, 0, 0.64);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  padding: 120px 0px;
}
.wialon-work_title {
  color: #242424;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}
.wialon-work_description {
  margin-top: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
.wialon-work_images {
  display: grid;
  grid-template-columns: 120px 200px 230px;
  grid-template-rows: 100px 250px 140px 140px;
  row-gap: 5px;
}
.wialon-work_image {
  overflow: hidden;
}
.wialon-work_image:first-child {
  grid-column: 1/3;
}
.wialon-work_image:nth-child(4) {
  /*justify-self: flex-end;*/
  padding-left: 40px;
}
.wialon-work_image:nth-child(5) {
  justify-self: flex-end;
}
.wialon-work_image:nth-child(8) {
  justify-self: flex-end;
}
.wialon-work_image:nth-child(11) {
  justify-self: flex-end;
  align-self: flex-end;
}

.wialon-devices_wrapper {
  margin: 120px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
}

.wialon-devices_block {
  max-width: 360px;
  margin-right: 60px;
}
.wialon-devices_block .wialon-devices_description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.wialon-devices_block .wialon-devices_description span {
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  padding-top: 35px;
  padding-bottom: 5px;
}

.wialon-map {
  position: relative;
}
.wialon-map_search {
  margin: 0 auto;
  text-align: center;
  color: #242424;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  padding-bottom: 40px;
}
.wialon-map_input__wraper {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  top: 128px;
  left: 50%;
  transform: translate(-50%);
  /*.wialon-map_input__country_wraper.error{
      border: 5px solid red;

  }*/
  z-index: 2;
}
.wialon-map_input__wraper .wialon-map_input {
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  padding: 16px 16px 16px 40px;
  font-size: 18px;
  width: 400px;
  height: 52px;
  margin-right: 8px;
  background: url(/src/icon/geolocal.svg) 3% 50% no-repeat #FFF;
}
.wialon-map_input__wraper .wialon-map_input__country.error {
  border: 3px solid red;
}
.wialon-map_input__wraper .wialon-map_button {
  width: 145px;
  height: 52px;
  border-radius: 8px;
  background-color: #0071E3;
  color: var(--day-system-white, #FFF);
  text-align: center;
  /* desktop/font-button-l */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}
.wialon-map_input__wraper .wialon-map_input__country_wraper {
  position: relative;
}
.wialon-map_input__wraper .wialon-map_input__country_wraper .wialon-map_input__country_list {
  display: none;
}
.wialon-map_input__wraper .wialon-map_input__country_wraper .wialon-map_input__country_list.active {
  display: block;
  animation-name: listik;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  position: absolute;
  overflow: hidden;
  top: 60px;
  width: 98%;
  border-radius: 8px;
}
.wialon-map_input__wraper .wialon-map_input__country_wraper .wialon-map_input__country_list.active .spisok_country {
  transition-property: visibility;
  transition-delay: 2s;
  visibility: visible;
  padding: 12px 16px;
}
.wialon-map_input__wraper .wialon-map_input__country_wraper .wialon-map_input__country_list.active .spisok_country:hover {
  background-color: #F7F7F5;
}
@keyframes listik {
  100% {
    height: auto;
    background-color: #FFF;
    font-family: Graphik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 0px;
  }
}
.wialon-map_input__wraper .wialon-map_input__city_wraper {
  position: relative;
}
.wialon-map_input__wraper .wialon-map_input__city_wraper .wialon-map_input__city.error {
  border: 3px solid red;
}
.wialon-map_input__wraper .wialon-map_input__city_wraper .wialon-map_input__city_list {
  display: none;
}
.wialon-map_input__wraper .wialon-map_input__city_wraper .wialon-map_input__city_list.active {
  display: block;
  animation-name: listik;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  position: absolute;
  overflow: hidden;
  top: 60px;
  width: 98%;
  border-radius: 8px;
}
.wialon-map_input__wraper .wialon-map_input__city_wraper .wialon-map_input__city_list.active .spisok_city {
  transition-property: visibility;
  transition-delay: 2s;
  visibility: visible;
  padding: 12px 16px;
}
.wialon-map_input__wraper .wialon-map_input__city_wraper .wialon-map_input__city_list.active .spisok_city:hover {
  background-color: #F7F7F5;
}
@keyframes listik {
  100% {
    height: auto;
    background-color: #FFF;
    font-family: Graphik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 0px;
  }
}

.wialon-demo {
  position: fixed;
  height: 500px;
  width: 360px;
  background-color: #FFFFFF;
  border: 1px solid black;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(151, 146, 146);
  z-index: 20;
  display: none;
}
.wialon-demo.size {
  height: 250px;
  transition: all 0.3s;
}
.wialon-demo_wraper {
  display: block;
}
.wialon-demo_wraper:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(https://i.gifer.com/ZZ5H.gif) center/50px no-repeat;
  background-color: rgba(1, 19, 174, 0.253);
  visibility: hidden;
}
.wialon-demo_wraper._sending:after {
  visibility: visible;
}
.wialon-demo_wraper._hidden {
  display: none;
}
.wialon-demo_title {
  margin-bottom: 50px;
  font-family: Graphik;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}
.wialon-demo_name {
  width: 260px;
  position: relative;
  margin: 0 auto;
}
.wialon-demo_email {
  width: 260px;
  position: relative;
  margin: 0 auto;
}
.wialon-demo_phone {
  width: 260px;
  position: relative;
  margin: 0 auto;
}
.wialon-demo_btn {
  width: 260px;
  height: 40px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #0A84FF;
  color: #FFFFFF;
}
.wialon-demo_label {
  position: absolute;
  top: -20px;
  left: 0px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
}
.wialon-demo_input {
  width: 260px;
  height: 30px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 10px;
}
.wialon-demo_input._error {
  box-shadow: 7px 5px 5px rgba(231, 8, 97, 0.253);
}
.wialon-demo_cross {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 15px;
  right: 20px;
  z-index: 21;
}
.wialon-demo_cross:before {
  content: "";
  position: absolute;
  top: 5px;
  right: -2px;
  width: 24px;
  height: 4px;
  background: red;
  transform: rotate(45deg);
}
.wialon-demo_cross:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  top: 5px;
  right: -2px;
  background: red;
  transform: rotate(-45deg);
}
.wialon-demo_response {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 290px;
  transform: translate(-50%, -50%);
  font-family: Graphik;
  font-size: 19px;
  line-height: 32px;
  font-style: normal;
  visibility: hidden;
}
.wialon-demo_response-btn {
  margin-top: 20px;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: #0A84FF;
  font-size: 17px;
  line-height: 32px;
  font-style: normal;
  color: #FFFFFF;
}
.wialon-demo_response.message {
  visibility: visible;
}

@media (max-width: 1405px) {
  .task-wialon_images {
    height: 813px;
  }
}
@media (max-width: 1300px) {
  .wialon-devices_wrapper {
    justify-content: space-around;
  }
  .task-wialon_images {
    height: 760px;
  }
}
@media (max-width: 1200px) {
  .task-wialon_images {
    max-height: 580px;
  }
  .task-wialon_buttons {
    justify-content: flex-start;
  }
}
@media (max-width: 991px) {
  .wialon-map_input {
    max-width: 270px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: #FFFFFF;
  }
  .menu__links {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 20px;
  }
  .menu__link {
    font-size: 16px;
    padding-left: 15px;
    cursor: pointer;
  }
  .menu__link:first-child {
    padding-left: 10px;
  }
  .menu__link > a {
    color: rgba(0, 0, 0, 0.64);
  }
  .wialon-raiting_object {
    max-width: 250px;
    font-size: 18px;
    font-weight: 400;
  }
  .wialon-raiting_object span {
    font-size: 38px;
  }
}
@media (max-width: 860px) {
  .wialon-raiting_object {
    max-width: 250px;
    font-size: 18px;
    font-weight: 400;
  }
  .wialon-raiting_object span {
    font-size: 38px;
  }
  .menu__links {
    position: relative;
    left: -280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 250px;
    background-color: #FFFFFF;
    box-shadow: 7px 5px 5px rgba(0, 0, 255, 0.3);
    position: relative;
    transition: all 0.5s;
  }
  .menu__links:after {
    content: "";
    position: absolute;
    background: url("https://wialon.com/resource/new-design/mobile-icon-wialon.svg") no-repeat;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 40px;
  }
  .menu__links:before {
    content: "";
    position: absolute;
    width: 250px;
    height: 2px;
    background-color: rgba(0, 0, 255, 0.3);
    top: 55px;
    left: 0px;
  }
  .menu__link {
    font-size: 18px;
    text-align: center;
  }
  .menu__link:first-child {
    padding-left: 30px;
    width: auto;
  }
  .menu__link > a {
    display: block;
    width: 200px;
    height: 30px;
    padding-top: 8px;
  }
  .menu__links.active {
    transition: all 0.5s;
    left: 0;
    margin-right: 190px; /**/
  }
  .hamburger {
    position: absolute;
    top: 17px;
    left: 20px;
    transition: all 0.5s;
  }
  .hamburger span {
    display: block;
    width: 50px;
    height: 5px;
    margin-bottom: 8px;
    background-color: #0071E3;
  }
  .hamburger.active {
    position: absolute;
    top: 17px;
    left: 260px;
    transition: left 0.5s;
  }
  .hamburger.active span:nth-child(2) {
    visibility: hidden;
    transition: all 0.05s;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    transition: all 1s;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
    transition: all 1s;
  }
  .task-wialon_images {
    max-height: 500px;
  }
  .task-wialon_buttons {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .about-wialon_title {
    max-width: 750px;
    font-size: 48px;
  }
  .wialon-map_input__wraper {
    top: 150px; /*опускаем поле ввода ниже*/
  }
  .wialon-work_images {
    display: grid;
    grid-template-columns: 120px 120px 150px;
    grid-template-rows: 100px 250px 200px 140px;
    row-gap: 5px;
  }
  .wialon-work_image:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .wialon-work_image:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 90px;
    display: none;
  }
  .wialon-work_image:nth-child(4) {
    /*justify-self: flex-end;*/
    padding-left: 0px;
  }
  .wialon-work_image:nth-child(5) {
    justify-self: flex-end;
    display: none;
  }
  .wialon-work_image:nth-child(6) {
    display: none;
  }
  .wialon-work_image:nth-child(7) {
    display: none;
  }
  .wialon-work_image:nth-child(8) {
    justify-self: flex-start;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .wialon-work_image:nth-child(9) {
    justify-self: flex-start;
    align-self: flex-start;
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .wialon-work_image:nth-child(10) {
    justify-self: flex-start;
    align-self: flex-end;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .wialon-work_image:nth-child(11) {
    justify-self: flex-start;
    align-self: flex-end;
    grid-column: 3/4;
    grid-row: 4/5;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .wialon-work_images {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 100px 250px 200px 140px;
    row-gap: 5px;
  }
  .wialon-work_image {
    overflow: hidden;
  }
  .wialon-work_image:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .wialon-work_image:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 90px;
    display: none;
  }
  .wialon-work_image:nth-child(3) {
    display: none;
  }
  .wialon-work_image:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 0px;
  }
  .wialon-work_image:nth-child(5) {
    justify-self: flex-end;
    display: none;
  }
  .wialon-work_image:nth-child(6) {
    display: none;
  }
  .wialon-work_image:nth-child(7) {
    display: none;
  }
  .wialon-work_image:nth-child(8) {
    justify-self: flex-start;
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .wialon-work_image:nth-child(9) {
    display: none;
  }
  .wialon-work_image:nth-child(10) {
    justify-self: flex-start;
    align-self: flex-end;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .wialon-work_image:nth-child(11) {
    display: none;
  }
  .wialon-map_input__wraper {
    top: 250px; /*опускаем поле ввода ниже*/
  }
  .wialon-map_input__wraper .wialon-map_input {
    width: 145px;
    height: 52px;
  }
  .task-wialon_images {
    max-height: 350px;
  }
}
@media (max-width: 613px) {
  .menu__links.active {
    transition: all 0.5s;
    left: 0;
    width: 220px;
  }
  .hamburger.active {
    left: 220px;
  }
  .menu__links {
    width: 100px;
  }
  .menu__links:after {
    content: "";
    left: 30px;
  }
  .menu__links:before {
    content: "";
    position: absolute;
    width: 220px;
  }
  .wialon-raiting_wrapper {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .wialon-raiting_object {
    max-width: 180px;
    font-size: 18px;
    font-weight: 400;
  }
  .wialon-raiting_object span {
    font-size: 38px;
  }
}
@media (max-width: 500px) {
  .task-wialon_images {
    max-height: 280px;
  }
  .about-wialon_title {
    max-width: 385px;
    font-size: 48px;
  }
  .about-wialon_description {
    max-width: 400px;
  }
  .wialon-map_input__wraper {
    top: 200px; /*опускаем поле ввода ниже*/
  }
  .wialon-map_input__wraper .wialon-map_input {
    width: 105px;
    height: 52px;
    padding-left: 25px;
  }
  .wialon-raiting_object {
    max-width: 180px;
    font-size: 18px;
    font-weight: 400;
  }
  .wialon-raiting_object span {
    font-size: 38px;
  }
  .wialon-raiting_wrapper {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .wialon-work_title {
    color: #242424;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
  }
  .wialon-work_description {
    margin-top: 24px;
    font-size: 21x;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
  }
}
.container {
  position: relative;
  min-width: 400px;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0px 15px;
  /*border: 1px solid red;*/
}

#map {
  padding-bottom: 720px;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */